  <div id="header-wrapper">
   <div id="header" class="container">
    <div id="logo">
     <img class="logo" src="{{ "/assets/images/logo.png" | prepend: site.baseurl }}" width="128px"/>
     <h1><a href="#">BitShares</a></h1>
     <h2>{{ page.topic }}</h2>
    </div>
    <div id="menu">
     <ul>
      <li class="current_page_item"><a href="/#" accesskey="1" title="">Home</a></li>
      <li><a href="/#aboutus" accesskey="3" title="">About</a></li>
      <li><a href="/#bitshares" accesskey="3" title="">BitShares</a></li>
      <li><a href="http://docs.bitshares.eu" accesskey="5" title="">Docs</a></li>
      <li><a href="/blog" accesskey="5" title="">Blog</a></li>
      <li><a href="/legal" accesskey="5" title="">Legal</a></li>
     </ul>
<!--
      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
//-->
    </div>
   </div>
  </div>
